<html>
  <head>
    <title>
      {{pageTitle}}
    </title>
  </head>
  <body>
    
    {{> header}}

    <h1>
      {{screamIt title}}
    </h1>
    <p>
      {{message}}
    </p>
    {{> footer}}

  </body>
</html>